/* RESETS */



/*END RESETS*/

body {
    font-family: Montserrat;

}
.grid-container {
    /*background: pink;*/
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: .25rem;
    grid-template-rows: 100vh;
}

.nav-column {
    /*background: cyan;*/
}

.main-body {
    /*background: red;*/
}

h1 {
    text-align: center;
}

h1.app-title {
    color: #644AFF
}

h3.categories-title {
    color: #6D4AD1;
}



h3 {
    text-align: center;
    font-variant-caps: small-caps;
}

.category-buttons {
    text-align: center;
}
/*buttons*/
button.add-category {
    background: #644AFF;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 6px 8px;
    font-weight: 600;
}

button.add-category:hover {
    background: #4c36c7;
}

button.edit-category {
    background: #FFA14A;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 6px 8px;
    font-weight: 600;
}

button.edit-category:hover {
    background: #e89442;
}

button.edit-task {
    background: #FFA14A;
    border: none;
    border-radius: 5px;
    padding: 6px 8px;
    font-weight: 600;
}

button.edit-task:hover {
    background: #e89442;
}

button.delete-task {
    background: #E05454;
    border: none;
    border-radius: 5px;
    padding: 6px 8px;
    font-weight: 600;
}
button.delete-task:hover {
    background: #b64242;
}

ul.task-block {
    list-style: none;
}

tr {

    background: yellow;

}



li.todo {
    width: 60vw;
    border: 1px solid #7A7373;
    border-radius: 2px;
    padding: 0px 5px 6px 20px;
}

.add-task-area {
    margin-left: 60%;
}

button.add-task {
    background: #644AFF;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 6px 8px;
    font-weight: 600;
}

button.add-task:hover {
    background: #4c36c7;
}

input.checkmark {
    background: red;
}

.tab {
    background: #E4DAF1;
    padding: 1.5%;
    width: 30%;
    margin-left: 3%;
    margin-bottom: -1%;
    border-radius: 25px 25px 0px 0px
}

h4.tab-title {
    margin: 0;
    font-size: 1.5rem;
}